/* Configuração do header */


nav a {
    padding: 1%;
    width: 90px;
    display: block;
    text-decoration:none;
    color: black;
    border: solid;
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
    background-color: #b3d9ff;
    
}

nav a:hover{
    background-color: #003366;
    color: white;

}
.barra_nav{
background-color: #0073e6;

}
a .logo{
max-width: 10%;

}
    
.logo img{
  
   max-width: 20%;
   
}
.cabecalho_nav .carrossel{

    background-color: white;
    text-align:center;

}